<br>
<br>
<br>
<script>$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
<%= bootstrap_flash %>
        <div class="col-sm-11">
            <h1 class="page-header">Products Dashboard</h1>
        </div>

        <div class="col-sm-1">
        	<%= link_to "Sales", sales_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%>
        </div>	
        <div class="col-sm-1">
        	<%= button_to "Log Out", "/sign_out" %>
        </div>	
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary custom-panel">
                <div class="panel-heading"> 
                    <div class="row"> 
                        <div class="col-xs-12 text-right">
                            <div id="numberReceivers" class="huge"></div>
                            <div>Amount of Phone We Buy <%= @products.length %></div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        
                        <div class="table-responsive">
                          
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
        </div>
     
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                       
                        <div class="col-xs-12 text-right">
                            <div>States we have shipped</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <div class="table-responsive">
                            
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
<!-- second row -->
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary custom-panel">
                <div class="panel-heading"> 
                    <div class="row"> 
                        <div class="col-xs-12 text-right">
                            <div id="numberReceivers" class="huge"></div>
                            <div>All Orders </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        
                        <div class="table-responsive">
                          
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
        </div>
     
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                       
                        <div class="col-xs-12 text-right">
                            <div>States we have shipped</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <div class="table-responsive">
                            
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i>Orders Places</i>
                    <div class="pull-right">
                        <div class="dropdown">
                            <div class="btn-group">
	                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
	                                Add Phone
	                                <span class="glyphicon glyphicon-plus"></span>
	                            </button>
                            	<!-- Modal -->
                            	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            	  <div class="modal-dialog" role="document">
                            	    <div class="modal-content">
                            	      <div class="modal-header">
                            	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            	        <h4 class="modal-title" id="myModalLabel">Add New Phone</h4>
                            	      </div>
                            	      <div class="modal-body">
                            	       	<%= form_for @product do |form| %>
                            	       	  
                            	       	 	<%= form.text_field :model, :required => true, placeholder: "Title", :maxlength => 200, class: "form-control title_input_field" %><br>

                            	       		<%= select(:carrier, :city_id, [['ATT', "ATT"], ['Verizon', "Verizon"], ["T-Mobile", "T-Mobile"], ['Sprint', "Sprint"], ["Other Carrier", "Other Carrier"]], {}, {:class => 'dropdown_menu'}) %><br>

                            	       	    <%= form.text_area :capacity, :required => true, placeholder: "Any cool destinations on this planet?", size: "100x10", class: "input_field2" %> <br>
                            	       	    <br>
                            	         		<%= form.submit "Create!", :class => 'submit_button' %>
                            	       	<% end %> 
                            	      </div>
                            	      <div class="modal-footer">
                            	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            	        <button type="button" class="btn btn-primary">Save changes</button>
                            	      </div>
                            	    </div>
                            	  </div>
                            	</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            
                                            <th>Product#</th>
                                            <th>Model</th>
                                            <th>carrier</th>
                                            <th>capacity</th>
                                            <th>condition</th>
                                            <th>Price</th>
                                            <th>State</th>
                                            <th>Edit</th>
                                            <th>Deactivate</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @products.each do |product| %>
                                        <tr>     
                                            <td><%= product.id %></td>
                                            
                                            <td><%= product.model %></td>
                                            <td><%= product.carrier %></td>
                                            <td><%= product.capacity %></td>
                                            <td><%= product.condition %></td>
                                            <td><%= product.price %></td>
                                 
                                            
                                        </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-12">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
     
    </div>
    <!-- /.row -->
</div>
