<%= render 'layouts/header'%>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="col-sm-6">
			<!-- <img src="http://static.thetechjournal.net/wp-content/uploads/images/1110/1318091364-iphone-4s-now-available-for-preorder-1.png"> -->
			This is where they can select there phone model
			
		<%= form_for :phone, url: sale_new_path, method: "POST" do |f| %>	
				<div class="option">
					<select name="product.model" class="form-control dropdown">
						<% @models.each do |model| %>
						  <option value="<%= model.model %>"><%= model.model %></option>
						<% end %>
					</select>
				</div>
			<br>
			<br>
				Select provider:
				<div class="option">
					<select name="product.carrier" class="form-control dropdown">
					  <% @carriers.each do |carrier| %>
						  <option class="form-control" value="<%= carrier.carrier %>"><%= carrier.carrier %></option>
					  <% end %>
					</select>
				</div>
			<br>
			<br>
				Select capacity:
			<div class="option">	 
				<select name="product.capacity" class="form-control dropdown">
				  <% @capacities.each do |capacity| %>
					  <option class="form-control" value="<%= capacity.capacity %>"><%= capacity.capacity %></option>
				  <% end %>
				</select>
			</div>	
			<br>
			<br>
				Select condition: 
			<div class="option">
				<select name="product.condition" class="form-control dropdown">
				  <% @conditions.each do |condition| %>
					  <option value="<%= condition.condition %>"><%= condition.condition %></option>
				  <% end %>
			  	</select>
			</div>
			<br>
			<br>
		<%= f.submit "Get My Price", class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name"%>
		<% end %>
	</div>
</div>