
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>
            <%= link_to "Sellible", root_path, class: "navbar-brand topnav", :method => :get%>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= button_to "Products", products_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%>
                </li>
                <li>
                    <%= button_to "Log Out", "/sign_out", class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name" %>
                </li>
                
            </ul>
        </div> 
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <%= bootstrap_flash %>
        <div class="col-sm-11">
            <h1 class="page-header">Sales Dashboard!</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12"> <!-- if you add the other boxes be sure to change the col size from 12 beak to 6 -->
            <div class="panel panel-primary custom-panel">
                <div class="panel-heading"> 
                    <div class="row"> 
                        <div class="col-xs-12 text-right">
                            <div id="numberReceivers" class="huge"></div>
                            <div>All Orders </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer"> 
                        <div class="table-responsive">
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"><h2><%= @sales.count %></h2></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
        </div>   
 <!--        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div>Need to Pay</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <div class="table-responsive">
                            
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i>
                                
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
        
    </div>
<!-- second row -->
<!--      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary custom-panel">
                <div class="panel-heading"> 
                    <div class="row"> 
                        <div class="col-xs-12 text-right">
                            <div id="numberReceivers" class="huge"></div>
                            <div>All Orders <%= @sales.length %></div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        
                        <div class="table-responsive">
                          
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
        </div>
     
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                       
                        <div class="col-xs-12 text-right">
                            <div>States we have shipped</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <div class="table-responsive">
                            
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div> -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i>Orders</i>
                    <div class="pull-right">
                        <div class="dropdown">
                            <div class="btn-group">
                                
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Shipped</a>
                                    </li>
                                    <li><a href="#">Needs to Ship</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th><%= link_to "ID", :sort => "id" %></th>
                                            <th><%= link_to "Complete Sale", :sort => "complete_sale" %></th>
                                            <th><%= link_to "Email", :sort => "email" %></th>
                                            <th><%= link_to "Order Date", :sort => "updated_at" %></th>
                                            <th><%= link_to "Shipped", :sort => "phone_shipped" %></th>
                                            <th><%= link_to "Arrived", :sort => "phone_arrived" %></th>
                                            <th><%= link_to "Paid", :sort => "sale_paid" %> </th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @sales.each do |sale| %>
                                        <tr> 
                                            <td><% if sale.complete_sale != nil %> <!-- this if statment is there to make the id number a button or not depending on if it is a sale or not -->
                                                    <button type="button" class="btn btn-default fa fa-linkedin fa-fw network-name" data-toggle="modal" data-target="#myModal<%= sale.id %>">
                                                    <%= sale.id %>
                                                    </button> 
                                                <% else %>
                                                    <%= sale.id %>
                                                <% end %> </td>
                                            <td> <% if sale.complete_sale != nil %> <!-- this if statment is there to say if the order is a complete order or we only got the email -->
                                                        True
                                                    <% else %>
                                                        False
                                                    <%end%> </td>
                                            <td><%= sale.email %> </td>
                                            <!-- Modal -->
                                            <!-- this modal holds all the extra information on the sale -->
                                            <div class="modal fade" id="myModal<%= sale.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Details</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                <%if sale.first_name != nil %>
                                                   <strong>Name:</strong><br><br>  <%= sale.first_name.capitalize %> <%= sale.last_name.capitalize %><br><br>
                                                   Address:<br><br>  <%= sale.address %><br>
                                                   <%= sale.city %><br>
                                                   <%= sale.state %><br>
                                                   <%= sale.country %><br>
                                                   <%= sale.zipcode %><br><br>
                                                   
                                                   Price:<br><br>
                                                   <% @products.each do |product| %>
                                                       <% if sale.product_id == product.id %>
                                                            <% product.price %>
                                                       <%end%>
                                                   <%end%>
                                                   Mailing Check:<br><br>
                                                   <%= sale.mail_check %>
                                                   <% end %>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    
                                                  </div>
                                                </div>
                                              </div>
                                            </div> <!-- end of modal -->
                                            <td><%= sale.created_at%></td>
                                           
                                        
                                            <td> 
                                                <% if sale.complete_sale != nil %>
                                                    <% if sale.phone_shipped %>
                                                        <%= sale.phone_shipped %>
                                                    <% else %>    
                                                        <%= button_to "Shipped", update_sale_path(sale, :shipped => true), :method => "post", class: "btn btn-default fa fa-linkedin fa-fw network-name"%>
                                                    <%end%>                              
                                             </td>
                                             <td>
                                                     <% if sale.phone_arrived %>
                                                        <%= sale.phone_arrived %>
                                                     <% else %>   
                                                        <%= button_to "Arrived", update_sale_path(sale, :arrived => true), :method => "post", class: "btn btn-default fa fa-linkedin fa-fw network-name"%>
                                                     <%end%>                                               
                                             <td> 
                                                    <% if sale.sale_paid %>
                                                       <%= sale.sale_paid %>
                                                    <% else %>  
                                                        <%= button_to "Paid", update_sale_path(sale, :paid => true), :method => "post", class: "btn btn-default fa fa-linkedin fa-fw network-name"%></td>
                                                    <%end%>
                                                <% else %>
                                                <td></td>
                                                <td></td>
                                                <%end%>    
                                             <td> <%= link_to "Delete", delete_sale_path(sale), method: :delete %><br></td>
                                        </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            <%= will_paginate @sales, renderer: BootstrapPagination::Rails %>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.col-lg-4 (nested) -->
                    <div class="col-lg-12">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
 
</div>
<!-- /.row -->
</div>
