<br>
<br>
<br>
<br>
<div class="container">
	<h1>your price is: <%= number_to_currency(@phone.first.price) %></h1>
  <br>
	
</div>
	
		
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Email
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= form_for :sale, url: sale_create_path do |f| %>
          <div class="row">
            <%= f.email_field :email, class: "form-control", placeholder: 'Email', autofocus: true, required: true %>
          </div>
        
        <button class="collapsed" role="button" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Next</button>
          
     

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        
          Payment Information
       
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Is your paypal email the same as your email above?

       <input placeholder="paypal email"></input>
       <button class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Next</button> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
     
          Details
       
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
            

            <div class="col-sm-12">
          <div class="col-sm-12 payments">
            <div class="row">
                <%= f.text_field :first_name, class: "form-control", placeholder: 'First Name', autofocus: true, required: true %>
            </div>
          <div class="row">
            
                <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name', autofocus: true, required: true %>
          </div>
         
          <div class="row">
            
              <%= f.telephone_field :phone, type:"number", class: "form-control", placeholder: 'Phone', autofocus: true %>
           
          </div>
          <div class="row">
            
              <%= f.text_field :address, class: "form-control", placeholder: 'Address', autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <%= f.text_field :city, class: "form-control", placeholder: 'City', autofocus: true %>
            </div>
            <div class="col-sm-7">
              <%= f.text_field :state, class: "form-control", placeholder: 'State/Province', autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <%= f.text_field :zipcode, type:"number", class: "form-control", placeholder: 'Zip Code', autofocus: true %>
            </div>
            <div class="col-sm-7">
              <%= f.text_field :country, class: "form-control", placeholder: 'Country', autofocus: true %>
            </div>
          </div>

          <%= f.hidden_field :product_id, :value => @phone.first.id %>
        <%=f.check_box :terms_of_service %>

        <%= f.submit "Sell my Phone", class: "btn btn-primary", id: "book-btn", type: "submit" %>  
        <% end %>
      </div>
    </div>
  </div>
</div>