<%= render 'layouts/header'%>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<h1 class="center">Your Cash Offer: <%= number_to_currency(@phone.price) %></h1>
  <br>
	

	
<div class="row">
<div class="col-sm-4">
  <div class="center">
    Apple <%= @phone.model %> <%= @phone.capacity %>GB<br>
    (<%= @phone.carrier %>)
  </div>
  <% if @phone.model == "iPhone 6" %>
  <img class="img-responsive" align="middle" src="http://www.libertywireless.com/img/iphone.png" alt="">
  <% elsif @phone.model == "iPhone 5" %>
    <img class="img-responsive photo" weigth="" align="middle" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png" alt="">
  <% else %>
  <img class="img-responsive photo" align="middle" src="http://mockuphone.com/static/images/phones/iphone5c_blue_side1.png" alt="">
  <% end %>
</div> 
<div class="col-sm-8"> 
<h3>Save your price and get paid</h3>		
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Please Enter your Email
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= form_for :sale, remote: true, url: sale_create_path, html: {id: "testing"} do |f| %>        
            <%= f.email_field :email, class: "form-control", placeholder: 'Email', autofocus: true, required: true %>
          <br><%= f.button "Next", class: "collapsed btn btn-default btn-lg fa fa-linkedin fa-fw network-name", id: "book-btn", type: "submit", role: "button", href: "#collapseTwo", :aria => {:controls=>"collapseTwo", :expanded=>"false"} %>  
          <script type="text/javascript">
            $("form#testing").on("ajax:success", function(){
              $(this).parent().parent().collapse()
              $("#collapseTwo").collapse() // fugggggggly
            })
          </script>
          <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
          2. Payment Information
       </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Please enter your paypal email if different than above<br>
      <%= form_for @sale, method: "patch" do |f| %>

       <%= f.email_field :paypal_email, class: "form-control", placeholder: 'PayPal Email', autofocus: true%><br>

       <%=f.check_box :mail_check, {}, true, false %> Check the box if you would like us to mail you a check<br>
       <button class="collapsed btn btn-default btn-lg fa fa-linkedin fa-fw network-name" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Next</button> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 
         3. Details
       </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="col-sm-12 payments">
            <div class="row">
                <%= f.text_field :first_name, class: "form-control", placeholder: 'First Name', autofocus: true, required: true %>
            </div>
            <div class="row">
              
                  <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name', autofocus: true, required: true %>
            </div>
           
            <div class="row">
              
                <%= f.telephone_field :phone, type:"number", class: "form-control", placeholder: 'Phone', autofocus: true %>
             
            </div>
            <div class="row">
              
                <%= f.text_field :address, class: "form-control", placeholder: 'Address', autofocus: true, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <%= f.text_field :city, class: "form-control", placeholder: 'City', autofocus: true, required: true %>
              </div>
              <div class="col-sm-7">
                <%= f.text_field :state, class: "form-control", placeholder: 'State', autofocus: true, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <%= f.text_field :zipcode, type:"number", class: "form-control", placeholder: 'Zip Code', autofocus: true, required: true %>
              </div>
              <div class="col-sm-7">
                <%= f.text_field :country, class: "form-control", placeholder: 'Country', autofocus: true, required: true %>
              </div>
            </div>

          <%= f.hidden_field :product_id, :value => @phone.id %><br>
          <%= f.hidden_field :id, :value => @sale_id %>
          <%= f.hidden_field :complete_sale, :value => true %>
          <!-- Button trigger modal -->
          <%=f.check_box :terms_of_service, required: true  %> Agree with <a type="button" class="" data-toggle="modal" data-target="#myModal">Terms of Service</a><br> 

        <br><%= f.submit "Sell my Phone", class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", id: "book-btn", type: "submit"%>  
        <% end %>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms of Sale Agreement</h4>
              </div>
              <div class="modal-body">
                <%= render 'sales/terms' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>